body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: .12rem;
  background: rgba(0, 0, 0, .3);
}

.login {
  position: fixed;
  width: 320px;
  height: 410px;
  background: #fff;
  top: 50%;
  margin-top: -170px;
  left: 50%;
  margin-left: -160px;
  border-radius: 10px;
  .top {
    dl {
      text-align: center;
      padding-top: .3rem;
      padding-bottom: .2rem;
      dt {
        img {
          width: 1.2rem;
        }
      }
      dd {
        font-size: .14rem;
        padding-top: .05rem;
      }
    }
  }
  form {
    padding: .3rem;
    box-sizing: border-box;
    position: relative;
    input {
      width: 100%;
      margin-top: .05rem;
      height: .4rem;
      border: none;
      padding-left: .4rem;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc;
    }
    input::-webkit-input-placeholder {
      color: #aaa;
    }
    button {
      width: 100%;
      height: .4rem;
      border: none;
      background: limegreen;
      color: #fff;
      margin-top: .3rem;
    }
    .phone {
      position: absolute;
      top: .45rem;
      width: .15rem;
      left: .4rem;
    }
    .key {
      position: absolute;
      top: .9rem;
      width: .15rem;
      left: .4rem;
    }
  }
}

header {
  height: .44rem;
  background: #3b3d3e;
  position: relative;
  font-size: .14rem;
  line-height: .44rem;
  padding-left: .5rem;
  box-sizing: border-box;
  color: #fff;
  i {

    color: #fff;
  }
  .error {
    position: absolute;
    top: .1rem;
    left: .1rem;
    font-size: .25rem;
  }
  .ellip {
    position: absolute;
    top: .1rem;
    right: .1rem;
    font-size: .25rem;
    transform: rotate(90deg);
  }
}

section {
  flex: 1;
  overflow: auto;
  background: rgba(0, 0, 0, 0);
}